

.meme {
  position: relative;
	margin-top: 0em;
	align-self: center;
 
}

.meme-image {
	max-width: 100%;
}


.meme-text {
	position: absolute;
	width: 80%;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	margin: 15px 0;
	padding: 0 5px;
	font-family: impact, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	text-shadow:
		2px 2px 0 #000,
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		0 2px 0 #000,
		2px 0 0 #000,
		0 -2px 0 #000,
		-2px 0 0 #000,
		2px 2px 5px #000;
}

.bottom {
  margin: 25px;
	bottom: 0;
}

.top { 
  top:0;
 margin: 25px;
}

.linkedin{
    line-height: 50px;
   padding: 0 80px;
   font-size: 50px;
   color: rgb(64, 145, 220);

}

@media only screen and (max-width: 600px) {
	.meme-text {
		font-size: 1.55em;
	}
}